[submodule "tf_verify/ml_bound_solver"]
	path = tf_verify/ml_bound_solver
	url = https://github.com/EvitanRelta/ml-bound-solver.git
[submodule "ELINA"]
	path = ELINA
	url = https://github.com/JacksonZyy/ELINA.git
